@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --darkgrey: #212329;
  --brightred: #f9423d;
  --white: #fff;
  --lightred: #f9433dcc;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.nav-container {
  width: 100%;
  background-color: var(--darkgrey);
}

.navbar {
  display: grid;
  grid-template-columns: 0.2fr auto 1fr;
  align-items: center;
  height: 80px;
  width: 90%;
  max-width: 1720px;
  margin: 0 auto;
}

#navbar-logo {
  color: var(--white);
  justify-content: start;
  margin-left: 20px;
  cursor: pointer;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  list-style: none;
  text-align: center;
  width: 70%;
  justify-self: end;
}

.nav-links {
  text-decoration: none;
  color: var(--white);
}

.nav-links:hover {
  color: var(--lightred);
  border-bottom: 2px solid var(--lightred);
  transition: all 0.3s ease-out;
}

.nav-links-btn {
  background-color: var(--brightred);
  padding: 6px 16px;
  border-radius: 6px;
}

.nav-links-btn:hover {
  background-color: transparent;
  color: var(--white);
  padding: 5px 15px;
  border-radius: 6px;
  border: solid 1px var(--brightred);
  transition: all 0.3s ease-out;
}
